<footer>

    <a href="#" class="d-lg-none d-md-none d-sm-none up-top scrollToTop">      
        <i class="fas fa-arrow-up"></i>
    </a> 

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">   
                <div class="infos-about">
                    <h5 class="titles-footer">Hipcamp está em todo lugar que você quer acampar.</h5>
                    <p>Descubra experiências únicas em ranchos, reservas naturais, fazendas, vinhedos e acampamentos públicos em todos o mundo. Book camping, casas na árvore, cabines, yurts, locais primitivos de campo, camping de carros, fluxos de ar, casas minúsculas, camping RV, tendas glamping e muito mais.</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                <h5 class="titles-footer">Conheça-nos</h5>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Regras e políticas de reserva</a></li>
                    <li><a href="#">Acessbilidade</a></li>
                    <li><a href="#">Central de mídia</a></li> 
                    <li><a href="#">Mapa do site</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                <h5 class="titles-footer">Planeje conosco</h5>
                <ul>
                    <li><a href="#">Econtre a inspiração para uma viagem</a></li>
                    <li><a href="#">Construir uma viagem</a></li>
                    <li><a href="#">Compre um passe</a></li>
                    <li><a href="#">Entrar na loteria</a></li> 
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-8">
                <h5 class="titles-footer">Deixe-nos ajudá-lo</h5> 
                <ul>
                    <li><a href="#">Sua conta</a></li>
                    <li><a href="#">Suas reservas</a></li>
                    <li><a href="#">Central de ajuda</a></li>
                    <li><a href="#">Enviar feedback</a></li>   
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="download-app">
                    <h5 class="titles-footer">Baixe nosso aplicativo</h5>
                    <a href="#"><img src="../../assets/img/app-store.png" alt="App Store" title="App Store" class="app-store" /></a>
                    <a href="#"><img src="../../assets/img/google-play.png" alt="Google Play" title="Google Play" /></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 box-copyright">
                <p>&copy;2020. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>