<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="content-banner">
                    <div class="box-infos">
                        <h1>Encontre-se do lado de fora</h1>
                        <p>Reserve experiências de acampamento exclusivas em mais de 300.000 acampamentos, cabines, parques para trailers, parques públicos e muito mais.</p>
                        <a href="#" class="btn-default">Descobrir</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
