/* You can add global styles to this file, and also import other style files */
@import './vars.less';


body { 
    background: rgba(250, 224, 215, 0.2) !important;
}

* {
   font-family:  @font01;
}
   
p {
    font-size: 16px;
}