<section class="box-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="box-content">
                    <div class="row reverse-mobile">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h2>Vamos ficar em contato</h2>
                            <p>Obtenha ideias de planejamento de viagens, dicas úteis e histórias de nossos visitantes diretamente na sua caixa de entrada.</p>
                            <form action="">
                                <div class="box-input">
                                    <input type="text" placeholder="Insira seu e-mail"> 
                                    <button type="submit"><i class="fas fa-mouse-pointer"></i></button>
                                </div>   
                            </form>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="box-image">
                                <img src="../../assets/img/fogueira-newsletter.jpg" alt="Imagem Newsletter" title="Imagem Newsletter" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>  
        </div>
    </div>
</section>
